<div>
    <h1>
        <img src="{{ 'hero-image.svg'}}" />
        <span>Vintage & Thrift</span>
    </h1>
</div>

{% schema %}
{
    "name":"Heroe",
    "presets": [
        {
            "name": "Hero"
        }
    ]
}
{% endschema %}