<style>
  .splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#thumbnail-slider {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

#thumbnail-slider-track {
    display: flex;
    justify-content: center;
    width: 80%;
}
.splide__slide {
    
}

</style>
<div id="thumbnail-slider" class="splide">
  <div class="splide__track">
		<ul class="splide__list">
      {% for block in section.blocks %}
			<li class="splide__slide" data-splide-interval="3000">
        {{ block.settings.image | image_url: width: 200 | image_tag }}
			</li>
      {%endfor%}
		</ul>
  </div>
</div>


{% schema %}
{
  "name": "Slideshow",
  "tag": "section",
  "class": "slideshow",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
   ]
}
{% endschema %}

<script>
  document.addEventListener( 'DOMContentLoaded', function () {
  new Splide( '#thumbnail-slider', {
		type   : 'loop',
  perPage: 7,
  perMove: 1,
  } ).mount();
} );
</script>