
<div id="image-slider" class="splide">
  <div class="splide__track">
		<ul class="splide__list">
      {% for block in section.blocks %}
        <li class="splide__slide">
          {{ block.settings.image | image_url: width: 200 | image_tag }}
        </li>
      {%endfor%}
		</ul>
  </div>
</div>

{% schema %}
{
  "name": "Slideshow",
  "tag": "section",
  "class": "slideshow",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
   ]
}
{% endschema %}

<script>


  var splide = new Splide( '#image-slider', {
  type   : 'loop',
  perPage: 3,
  perMove: 1,
} );

splide.mount();
</script>