
<script>
  document.addEventListener( 'DOMContentLoaded', function () {
    new Splide( '#image-slider' ).mount();
  } );
</script>
<div id="image-slider" class="splide">
  <div class="splide__track">
		<ul class="splide__list">
      {% for block in section.blocks %}
        <li class="splide__slide">
          {{ block.settings.image | image_url: width: 200 | image_tag }}
        </li>
      {%endfor%}
		</ul>
  </div>
</div>
<div id="image-slider" class="splide">
  <div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">
				<img src="//cdn.shopify.com/s/files/1/0614/7178/5130/files/logo.png?v=1646618108&width=200">
			</li>
			<li class="splide__slide">
				<img src="//cdn.shopify.com/s/files/1/0614/7178/5130/files/hero-work-hover.png?v=1646636334&width=200">
			</li>
			<li class="splide__slide">
				<img src="//cdn.shopify.com/s/files/1/0614/7178/5130/files/collection-bottoms.png?v=1646636335&width=200">
			</li>
		</ul>
  </div>
</div>

{% schema %}
{
  "name": "Slideshow",
  "tag": "section",
  "class": "slideshow",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
   ]
}
{% endschema %}

