<script>
  $('#slider1').slick({
  infinite: true,
  slidesToShow: 3,
  slidesToScroll: 3
});
</script>
<div class="slideshow">
  <div class="wrapper">
    <center>
      <h2>Titulo</h2>
    </center>
    <div class="rslides_container">
      <ul class="rslides" id="slider1">
      {%for imagen in block.settings.image %}
        <li class="slideshow-item">
          <img src="{{ block.settings.image | image_url: width: 200 | image_tag }}" alt="">
        </li>
      {%endfor%}
      </ul>
    </div>
  </div>
{% schema %}
{
  "name": "Slideshow",
  "tag": "section",
  "class": "slideshow",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
   ]
}
{% endschema %}

