<div>
    hola
    {{ blocks.settings.image }}
    {% for image in section.blocks.settings.image %}
                <div>
                    <img src="{{ image.src }}" alt=""> 
                </div>
            {%endfor%}
</div> 


{% schema %}
    {
        "name": "Logos",
        "blocks": [
        {
          "type": "slide",
          "name": "t:sections.slideshow.blocks.slide.name",
          "limit": 5,
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "t:sections.slideshow.blocks.slide.settings.image.label"
            }
            ]
        }
        ],
        "presets":[
            {
                "name":"Logos",
                "category": "slide"  

            }
            
        ]
    } 

{% endschema %} 

