<div>
    Weekly picks
</div>

{% schema %}
{
    "name": "Weekly picks",
    "settings":
    [
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection",
            
        },
    ],
    "presets":[
        "name": "Weekly picks"
    ]
}
{% endschema %}